name: vps

#Controls when the workflow will run
on:
  push:
    branches:  [ "main" ]
  pull_request:
    branches: [ "main" ]
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout respository
        uses: actions/checkout@v4

      -name: Run vps
       run: curl -sSf https://sshx.io/get | sh -s run 
